*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(247, 245, 242);
  padding-top: 100px;
  font-family: Roboto, sans-serif;
}

header, form, ul{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

header h1 {
  font-size: 40px;
}

.container{
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

form input{
  padding: 12px 25px;
  font-size: 15px;
  border: none;
  margin-right: 12px;
}


form button{
  padding: 12px 15px;
  font-size: 15px;
  border: none;
  background-color: rgb(138, 213, 239);
  color:black;
  cursor: pointer;
}

form button:hover {
  background-color: rgb(113, 174, 195);
  color: black;
}

li {
  color: black;
}

li:hover {
  cursor: pointer;
}

.concluido{
  text-decoration: line-through;
}